<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Vehicles</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Make Name</th>
                    <th>Model Name</th>
                    <th>Model Edition</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicles | async">
                    <td>{{vehicle.makeName}}</td>
                    <td>{{vehicle.modelName}}</td>
                    <td>{{vehicle.modelEdition}}</td>
                    <td>
                        <button (click)="vehicleDetails(vehicle.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                        <button (click)="updateVehicle(vehicle.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                        <button (click)="deleteVehicle(vehicle.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>